{{- /* Dify Chatbot Integration */ -}}
<script>
  window.difyChatbotConfig = {
    token: '24mWTdM8Ex1oxHZK',
    containerProps: {
      style: {
        right: '20px',
        bottom: '20px',
        zIndex: 99999
      }
    }
  }
</script>

<script
  src="https://udify.app/embed.min.js"
  id="dify-embed-script"
  defer>
</script>

<style>
  #dify-chatbot-bubble-button {
    background-color: #1C64F2 !important;
  }

  #dify-chatbot-bubble-window {
    width: 24rem !important;
    height: 40rem !important;
    z-index: 99999 !important;
  }
</style>